@charset "UTF8-";

*{
    font-family: Arial, Helvetica, sans-serif;
  /* height: 100%; */
}
body {
    background-image:linear-gradient(to right,#C2B8AD,#506AD4)
}

main {
    background-color: white;
    border-radius: 12px;
    box-shadow: 5px 5px 15px #94635dab;
    width: 600px;
    padding: 10px
    margin: auto;
}

h1 {
   color: #d9ff00;
   text-align: center;
   text-shadow: 1px 1px 2px #d9ff00;
}

h2 {
   color: #003cffa9 ;
}


p {
    text-align: justify;
}

     
 